<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('partials/header'); %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">
                <div class="jumbotron">
                    <h1>Citas</h1>
                    <p>Listado de citas</p>
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">CC</th>
                                <th scope="col">Especialidad</th>
                            </tr>                   
                        </thead>
                        <tbody>
                            <% for(var i=0; i<appointmentlist.length; i++) { %>
                            <tr>
                                <td><%= appointmentlist[i].cc %></td>
                                <td><%= appointmentlist[i].specialty %></td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="well">
                    <h3>Agregar una nueva cita</h3>
                    <form action="/api/appointments" method="post" enctype="application/x-www-form-urlencoded">
                        <div class="form-group">
                            <label for="ccInput">Numero de identificacion</label>
                            <input class="form-control" type="number" id="ccInput" name="ccInput" placeholder="Cedula de ciudadania">
                        </div>
                        <div class="form-group">
                            <label for="specialtyInput">Especialidad</label>
                            <select class="form-control" id="specialtyInput" name="specialtyInput">
                                <option>Medicina general</option>
                                <option>Cardiologia</option>
                                <option>Medicina interna</option>
                                <option>Dermatologia</option>
                                <option>Rehabilitacion fisica</option>
                                <option>Psicologia</option>
                                <option>Odontologia</option>
                                <option>Radiologia</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </form>
                    <% if (locals.errors) {%>
                        <div class="alert alert-danger" role="alert">
                            <ul>
                                <% errors.forEach(error =>{ %>
                                    <li><%= error.msg %></li>
                                <% }) %>
                            </ul>
                        </div>
                        
                    <% } %>
                    <% if (locals.success) {%>
                        <div class="alert alert-success" role="alert">
                            Cita agregada correctamente!
                        </div>
                    <% } %>
                </div>
            </div>

        </div>
    </main>

    <footer>
        <%- include('partials/footer'); %>
    </footer>

</body>

</html>